<% rb_form_for @project,
                   :as => :rb_project_settings,
                   :url => { :controller => 'rb_project_settings',
                             :action => 'project_settings', :project_id => @project },
                   :html => {:id => 'backlogs-form',
                             :method => :post} do |f| %>

<%= error_messages_for 'rb_project_settings' %>

<div class="box">
<p>
  <%= content_tag(:label, l(:backlogs_show_stories_from_subprojects_in_backlog)) %>
  <%= check_box_tag("settings[show_stories_from_subprojects]", 'enabled',
      @project.rb_project_settings.show_stories_from_subprojects) %>
</p>
<p>
  <%= content_tag(:label, l(:rb_project_settings_ignored_versions)) %>
  <%= select_tag("settings[ignored_versions]",
                 options_from_collection_for_select(
                     RbProjectSettings.filterable_versions_for_project(@project), :id, :name,
                     @project.rb_project_settings.ignored_versions),
                 :multiple => true, :size => 10) %>
</p>
  <p>
    <%= content_tag(:label, l(:rb_project_settings_backlog_versions)) %>
    <%= select_tag("settings[backlog_versions]",
                   options_from_collection_for_select(
                       RbProjectSettings.filterable_versions_for_project(@project, :include_nil => true), :id, :name,
                       @project.rb_project_settings.backlog_versions),
                   :multiple => true, :size => 10) %>
  </p>
</div>
<%= submit_tag(l(:button_save)) %>
<% end %>


